services:
    web:
        build:
            context: ./docker/web
            args:
                GIT_USER_EMAIL: ${GIT_USER_EMAIL}
                GIT_USER_NAME: ${GIT_USER_NAME}
        working_dir: /app
        user: application
        volumes:
            - ./:/app
        tmpfs:
          - /tmp:mode=1777
        environment:
          - WEB_DOCUMENT_ROOT=/app
          - PHP_DISPLAY_ERRORS=1
          - PHP_MEMORY_LIMIT=512M
          - PHP_MAX_EXECUTION_TIME=300
          - PHP_POST_MAX_SIZE=200M
          - PHP_UPLOAD_MAX_FILESIZE=100M
          - PHP_DISMOD=ioncube
