{% extends '@Vis/tool/base.html.twig' %}

{% do addAssetComposer('avalynx/avalynx-datatable/dist/css/avalynx-datatable.css') %}
{% do addAssetComposer('avalynx/avalynx-datatable/dist/js/avalynx-datatable.js') %}

{% block vis_container %}

    {{ parent() }}

    {% set datatable_title = datatable_title|default('datatable.title'|vistrans) %}
    {% set datatable_options = {
        apiUrl: '',
        perPage: 10,
        search: "",
        sorting: {}
    }|merge(datatable_options|default({})) %}

    {% set datatable_language = {
        showLabel: 'datatable.showLabel'|vistrans,
        entriesLabel: 'datatable.entriesLabel'|vistrans,
        searchLabel: 'datatable.searchLabel'|vistrans,
        previousLabel: 'datatable.previousLabel'|vistrans,
        nextLabel: 'datatable.nextLabel'|vistrans,
        showingEntries: 'datatable.showingEntries'|vistrans,
        showingFilteredEntries: 'datatable.showingFilteredEntries'|vistrans
    }|merge(datatable_language|default({})) %}

    <div class="card shadow">
        <div class="card-header">
            {{ datatable_title }}
        </div>
        <div class="card-body">
            <div id="avalynx-datatable"
                 data-options="{{ datatable_options|json_encode|e('html_attr') }}"
                 data-language="{{ datatable_language|json_encode|e('html_attr') }}"
            ></div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const datatableElement = document.getElementById("avalynx-datatable");
            const options = JSON.parse(datatableElement.dataset.options);
            const languageSource = JSON.parse(datatableElement.dataset.language);

            const language = {
                ...languageSource,
                showingEntries: (start, end, total) => languageSource.showingEntries.replace('{start}', start).replace('{end}', end).replace('{total}', total),
                showingFilteredEntries: (start, end, filtered, total) => languageSource.showingFilteredEntries.replace('{start}', start).replace('{end}', end).replace('{filtered}', filtered).replace('{total}', total)
            };

            new AvalynxDataTable("avalynx-datatable", options, language);
        });
    </script>

{% endblock %}
