{% extends '@Vis/tool/base.html.twig' %}

{% do addAssetComposer('avalynx/avalynx-datatable/dist/css/avalynx-datatable.css') %}
{% do addAssetComposer('avalynx/avalynx-datatable/dist/js/avalynx-datatable.js') %}

{% block vis_container %}

    {{ parent() }}

<div class="card shadow">
    <div class="card-header">
        DataTable example
    </div>
    <div class="card-body">
        <div class="" id="avalynx-datatable"></div>
    </div>
</div>

    <script>

        new AvalynxDataTable("avalynx-datatable", {
            apiUrl: "{{ path('vis_demo_table_datatable_api') }}",

            perPage: 10,
            search: "",
            sorting: {
                "name": "asc",
                "age": "desc"
            }
        }, {});

    </script>

{% endblock %}
