services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Auto-configure all services except those explicitly excluded
    JBSNewMedia\VisBundle\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Controllers need the service_arguments tag
    JBSNewMedia\VisBundle\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    # Commands with specific dependencies
    JBSNewMedia\VisBundle\Command\VisUserCreateCommand:
        arguments:
            $userPasswordHasher: '@security.password_hasher'
            $entityManager: '@doctrine.orm.entity_manager'

    JBSNewMedia\VisBundle\Command\VisCoreCreateCommand:
        arguments:
            $kernel: '@kernel'

    # Plugin manager with tagged locator
    JBSNewMedia\VisBundle\Service\PluginManager:
        arguments:
            $visPluginCollector: '@JBSNewMedia\VisBundle\Service\VisPluginCollector'

    # Twig extensions with specific dependencies
    JBSNewMedia\VisBundle\Twig\DynamicFilterExtension:
        arguments:
            $twig: '@twig'

    JBSNewMedia\VisBundle\Twig\VisTransExtension:
        arguments:
            $translator: '@translator'
            $vis: '@JBSNewMedia\VisBundle\Service\Vis'
