<!DOCTYPE html>
<html lang="{{ app.request.locale|default('en')|replace({'_':'-'}) }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}VIS{% endblock %}</title>
        {% block stylesheets %}
            {{ renderAssetComposerStylesheets() }}
        {% endblock %}

        {% block javascripts %}
            {{ renderAssetComposerJavascripts() }}
        {% endblock %}
    </head>
    <body id="avalynx-simpleadmin-body">
    {% block body %}
    {% endblock %}
    </body>
</html>
