<button class="btn btn-link justify-content-center align-items-center" id="dropdownMenuProfile" data-bs-toggle="dropdown" aria-expanded="false" title="Profile">
 {{ item.content|raw }}
</button>
<div class="dropdown-menu rounded-0 me-1" aria-labelledby="dropdownMenuProfile">
    <a class="dropdown-item" href="#"><i class="bi bi-person-fill"></i> Profile</a>
    <a class="dropdown-item" href="#"><i class="bi bi-gear-fill"></i> Settings</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#"><i class="bi bi-door-closed-fill"></i> Logout</a>
</div>