{% if vis.toolscounter > 1 %}

    <button class="btn btn-link justify-content-center align-items-center" id="dropdownMenuTool" data-bs-toggle="dropdown" aria-expanded="false" title="Projekt wechseln">
        <i class="fa-solid fa-diagram-project fa-fw"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end rounded-0 me-1 avalynx-livesearch<?php if ($c > 10): ?> avalynx-livesearch-show<?php endif ?>"
        aria-labelledby="dropdownMenuTool">

        <li>
            <span class="dropdown-item-text">
                <input type="text" class="form-control avalynx-livesearch-input" placeholder="Suchen...">
            </span>
        </li>

        {% for tool_id, tool_details in vis.tools %}

            <li class="dnone">
                <a class="dropdown-item{% if vis.toolId == tool_details.id %} active{% endif %}" href="{{ path('vis_' ~ tool_details.id) }}">{{ tool_details.title }}</a>
            </li>

        {% endfor %}

    </ul>

{% endif %}
